.editemployee {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.editemployee-header {
    padding-top: 5rem;
}

.editemployee-header h1 {
    font-family: var(--font-family);
    font-size: 38px;
    line-height: 60px;
    font-weight: 600;
    color: rgb(184, 97, 97);
}

.editemployee-content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    grid-gap: 1rem;
    flex: 2;

}

.edit_combobox {
    width: 400px;
}

.imgPicture_edit {
    height: 120px;
    width: 120px;
}

.imgPicture_edit img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.editemployee-content input {
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 0.5rem;
    border: none;
    font-family: var(--font-family);
}

.editemployee-column {
    display: flex;
    flex-direction: row;
    height: 77vh;
    align-items: center;
    grid-gap: 1rem;
}

.content_left {
    height: 500px;
    width: 100%;
    flex: 1;
    /* border-radius: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.content_left img {
    width: 400px;
    /* height: 100%; */
    height: fit-content;
    object-fit: contain;
    min-height: 600px;
}

.content_right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgb(207, 218, 228);
}

.errortext {
    color: red;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 20px;
    margin-left: 0.2rem;
}

.imgphoto {
    cursor: pointer;
}

.editeemployee-btn {
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.editeemployee-btn button {
    margin-top: 1rem;
    width: 80px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    font-family: var(--font-family);
    color: rgb(17, 97, 216);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3 ease;
    background: radial-gradient(ellipse at 50% 50%, rgba(255, 213, 254, 1) 0%, rgba(255, 225, 165, 1) 100%);


}

.editeemployee-btn button:active {
    transform: scale(0.9);
}

.editeemployee-content-img {
    margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
    .editemployee {
        justify-content: flex-start;
        align-items: center;
        padding-top: 3rem;
    }

    .editemployee-header {
        margin-bottom: 1rem;
        height: 3vh;
    }

    .editemployee-column {
        flex-direction: column;
        grid-gap: 0rem;
        height: 85vh;
        width: 100%;
    }

    .content_left {
        /* flex: 1; */
        flex: none;
        height: 25%;
        width: 100%;
        width: 400px;
        margin: 1rem 0rem;
    }



    .edit_combobox {
        height: 50px;
    }

    .content_left img {
        height: 100%;
        object-fit: contain;
        width: 100%;
        min-height: 150px;
    }

    .content_right {
        flex: none;
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .editemployee-content {
        flex: none;
    }

    .editeemployee-btn {
        flex: none;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .editemployee-content input {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0.3rem;
    }

    .editemployee-header {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .editemployee-header h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .editeemployee-btn button {
        width: 100px;
        font-size: 14px;
        line-height: 16px;
    }

    .imgPicture_edit {
        height: 100px;
        width: 130px;
    }

}

@media screen and (max-height: 800px) {
    .editemployee {
        height: 120vh;
    }
}


@media screen and (max-height: 660px) {
    .editemployee {
        height: 140vh;
    }
}

@media screen and (max-height: 450px) {
    .editemployee {
        height: 160vh;
    }
}

@media screen and (max-width: 550px) {
    .editemployee-header h1 {
        font-size: 20px;
        line-height: 25px;
    }

    .editemployee-content input {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0.3rem;
    }

    .editemployee-content {
        width: 280px;
    }

    .edit_combobox {
        width: 280px;
        height: 45px;
    }
}

@media screen and (max-width: 300px) {
    .editemployee-content {
        width: 250px;
    }

    .edit_combobox {
        width: 250px;
    }

    .editeemployee-btn button {
        width: 80px;
        grid-gap: 0rem;
    }
}